@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Questrial&family=Raleway:ital,wght@0,200;0,300;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root{
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --light: #ffffff;
    --dark: #01080f;
    --font-family-sans-serif: 'Raleway', sans-serif;
    --font-family-monospace: 'Raleway', sans-serif;

}

#logo{
    width: 60%;
}
.navbar{
    background-color: var(--white) !important;
}
.navbar-nav{
    
    
}
.nav-item{
    color: black !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500 !important;
    padding: 15px;
}
#contacto{
    border: 2px solid var(--success);
    border-radius: 30px;
}
#contacto:hover{
    background-color:  var(--success);
    color: white;
}

#boxCarousel{
    height: 700px;
}
#boxTexto{
    width: 70%;
    justify-content: start;
 
}
#texto-carousel{
    font-size: 30px;
    color: white;
}
#titulo-carousel{
    font-family: 'Questrial', sans-serif;
    font-size: 4rem !important;
    color:white;
}

#logowhatsapp{
    width: 7%;
}
#linkwhatsapp{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


.carousel, .carousel-inner > .item > img {
    height: 600px;
}

#contenido{
    margin-top: 700px;
}

#serviciosImagen{
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #999;
}
#seccionPrincipal{
    margin-top: 150px;
    /*height: 2000px;*/
    
}

#boxCard{
    border: none;
    border-radius: 20px;
}
.card-body{
    margin-left: 20px;
}
#boxUbicacion{
    margin-top: 60px;
    height: 30rem;
}


#mapa{
    width: 100%;
   height: 100%;
}

#boxcobertura{
    height: 100%;
    z-index: -1;
}
ul{
    list-style-image: url("../imagenes/check2.svg");
    margin-top: 30px;
    color: #1B5A3C;
    font-weight: bold;
    text-transform: uppercase;
}
#linkwhatsappinfo{
    padding: 30px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #1B5A3C;
    font-weight: bold;
}


#footer{
    /*height: 150px;*/
    height: 7rem;
    background-image: url(../imagenes/footer3.jpg);
    background-repeat: repeat-x;
    /*background-color: rgb(5, 49, 16);*/
    margin-top: 30px;
}


@media screen and (max-width: 800px) {
    #seccionPrincipal{
        margin-top: -470px;
    }
    #boxCard{
       
    }
    #titulo-carousel{
        
        font-size: 1.3rem !important;
        
    }
    #contactoCarousel{
        font-size: 0.7rem !important;
    }
    #texto-carousel{
        font-size: 0.5rem;
    }
    #boxcobertura{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        
        order: 1;
    }
    #mapa{
        order: -2;
    }

}
@media screen and (max-device-width : 480px) {
  
}